JLinkLog.txt
.vscode
.eide
.cmsis
x64
.svn
.vs
.pdb
.idea
bin
bin.*
bin.vs
Debug
Release
x64
packages
build
out
temp
classes
app-release.apk
app-debug.apk
*.apk
*.pdb
*.user
*.aps
liblib*.a
output
obj
*.lst
*.aar
*.d
*.o
*.crf
~*.doc
~*.docx
~*
*.uvgui.*
*.db
*.DS_Store
node_modules
*.uvoptx
*.bear
